<!DOCTYPE html>
<html lang="en">
<link rel= "stylesheet" href= "{{ url_for('static',filename='css/home.css') }}">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/css/images/logo Esilv.png">
    <title>Drug consumption project</title>
</head>
<body>
<h1 id ="title" align="center">Project python for data analysis</h1>
<h3>Bruno Pincet, Quentin Navarre, DIA 1</h3>
<p >
  Dataset : Drug consumption data set<br><br>
  <a href="https://archive.ics.uci.edu/ml/datasets/Drug+consumption+%28quantified%29">Link to the dataset</a>
  <br><br><br>
</p>



<button class="choice" onclick="window.location.href='http://localhost:5000/drugged_estimator';">
    Use the Drugged estimator
</button>


<button class="choice"  onclick="window.location.href='http://localhost:5000/Data_analysis';">
    See the data analysis
</button>


<button class="choice" onclick="window.location.href='http://localhost:5000/ppt_report';">
    See the PowerPoint report
</button>

</body>
</html>
