body {
    font-family: 'Helvetica', 'Calibri', sans-serif;
    font-size:1rem;
    margin: 1rem 15rem;
  }

  input, button {
    width: 100%;
    font-size: 1rem;
    line-height:1rem;
  }

  input {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  fieldset {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border: none;
    box-shadow: 0px 0px 2px rgba(0,0,0,1);
    background-color: rgb(240,240,240);
  }

  legend, button {
    background-color: rgb(17, 102, 158);
    padding: 0.75rem;
    font-size: 1.3rem;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    transform: translateX(-1.1rem);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.8);
  }


  legend:after {
    content: "";
    height: 0;
    width:0;
    background-color: transparent;
    border-top: 0.0rem solid transparent;
    border-right:  0.35rem solid black;
    border-bottom: 0.45rem solid transparent;
    border-left: 0.0rem solid transparent;
    position:absolute;
    left:-0.075rem;
    bottom: -0.45rem;
  }

#title {
  color:"white";
  background-color: rgb(17, 102, 158);
  padding: 2rem;
}
